head
  title Azenith\IO
  meta(charset='UTF-8')
  meta(name='description', content='')
  meta(name='keywords', content='')
  meta(name='author', content='CJ')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // base href="" target="_blank|_self|_parent|_top"
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
h1 This is a Heading
// A grey horizontal navbar that becomes vertical on small screens
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Link
.container-fluid
  .row
    .col-md-2(style='background-color:lavenderblush;') test
    .col-md-8(style='background-color:lavender;') test
    .col-md-2(style='background-color:lavenderblush;') test
p This is a paragraph.
